In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine, inspect

In [2]:
#connect to my sql database
USERNAME = "postgres"
PASSWORD = "postgres"
URL = "localhost"
PORT = 5432
DATABASE = "Project2"

connection_str = f"postgresql+psycopg2://{USERNAME}:{PASSWORD}@{URL}:{PORT}/{DATABASE}"
print(connection_str)

engine = create_engine(connection_str)

postgresql+psycopg2://postgres:postgres@localhost:5432/Project2

In [3]:
# create the inspector and connect to the engine
inspector_gadget = inspect(engine)

tables = inspector_gadget.get_table_names()
for table in tables:
    print(table)
    
    # get all columns in table
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column)
    print()

ticker_lk
{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'ticker', 'type': VARCHAR(length=10), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'company', 'type': VARCHAR(length=100), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

ticker_data
{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': "nextval('ticker_data_id_seq'::regclass)", 'autoincrement': True, 'comment': None}
{'name': 'ticker_id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'date', 'type': DATE(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'open', 'type': DOUBLE_PRECISION(precision=53), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'high', 'type': DOUBLE_PRECISION(precision=53), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'low', 'type': DOUBLE_PRECISION(precision=53), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'close', 'type': DOUBLE_PRECISION(precision=53), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'volume', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'closeadj', 'type': DOUBLE_PRECISION(precision=53), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'closeunadj', 'type': DOUBLE_PRECISION(precision=53), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

single_date_tweet_info
{'name': 'tweet_date', 'type': DATE(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'tesla_mention', 'type': BOOLEAN(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'twitter_mention', 'type': BOOLEAN(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [4]:
#read in ticker ID table from csv
df = pd.read_csv('data_files/lk_ticker.csv')
df.head()

   id ticker  company
0   1   twtr  Twitter
1   2   tsla    Tesla

In [5]:
#import into our DB
df.to_sql('ticker_lk', engine, index=False, if_exists='append', method='multi')

In [7]:
#read in tweet mention csv
df2 = pd.read_csv('data_files/tweet_mentions.csv')
df2.head()

   tweet_date  tesla_mention  twitter_mention
0  2022-12-21          False            False
1  2022-12-20           True             True
2  2022-12-19          False             True
3  2022-12-18           True             True
4  2022-12-17          False             True

In [12]:
#read in twitter ticker data
twitterDF =  pd.read_csv("data_files/twitter_ticker.csv")
twitterDF.drop("lastupdated", axis=1, inplace=True)
twitterDF.head()

,ticker,date,open,high,low,close,volume,closeadj,closeunadj
0,TWTR,2022-10-27,53.91,54.00,53.70,53.70,140412534.0,53.70,53.70
1,TWTR,2022-10-26,52.95,53.50,52.77,53.35,27431218.0,53.35,53.35
2,TWTR,2022-10-25,52.40,53.18,52.20,52.78,34979396.0,52.78,52.78
3,TWTR,2022-10-24,50.71,51.86,50.52,51.52,22841839.0,51.52,51.52
4,TWTR,2022-10-21,50.00,50.75,49.55,49.89,51155188.0,49.89,49.89

In [13]:
#read in tesla ticker data
teslaDF =  pd.read_csv("data_files/tesla_ticker.csv")
teslaDF.drop("lastupdated", axis=1, inplace=True)
teslaDF.head()

,ticker,date,open,high,low,close,volume,closeadj,closeunadj
0,TSLA,2022-12-21,139.335,141.26,135.89,137.57,144110254.0,137.57,137.57
1,TSLA,2022-12-20,146.050,148.47,137.66,137.80,156301399.0,137.80,137.80
2,TSLA,2022-12-19,154.000,155.25,145.82,149.87,139012446.0,149.87,149.87
3,TSLA,2022-12-16,159.635,160.99,150.04,150.23,138838601.0,150.23,150.23
4,TSLA,2022-12-15,153.440,160.93,153.28,157.67,121525813.0,157.67,157.67

In [16]:
#concat ticker information to have all data in one df
full_ticker_df = pd.concat([twitterDF, teslaDF], axis=0)
full_ticker_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5021 entries, 0 to 2761
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ticker      5021 non-null   object
 1   date        5021 non-null   object
 2   open        5021 non-null   float64
 3   high        5021 non-null   float64
 4   low         5021 non-null   float64
 5   close       5021 non-null   float64
 6   volume      5021 non-null   float64
 7   closeadj    5021 non-null   float64
 8   closeunadj  5021 non-null   float64
dtypes: float64(7), object(2)
memory usage: 392.3+ KB

In [17]:
#give twitter an ID of 1 and tesla an ID of 2 to match our ERD table, so it reads into the db
full_ticker_df['ticker_id']=1
full_ticker_df.loc[full_ticker_df['ticker']=='TSLA','ticker_id'] = 2
full_ticker_df.drop("ticker", axis=1, inplace=True)
full_ticker_df.head()

,date,open,high,low,close,volume,closeadj,closeunadj,ticker_id
0,2022-10-27,53.91,54.00,53.70,53.70,140412534.0,53.70,53.70,1
1,2022-10-26,52.95,53.50,52.77,53.35,27431218.0,53.35,53.35,1
2,2022-10-25,52.40,53.18,52.20,52.78,34979396.0,52.78,52.78,1
3,2022-10-24,50.71,51.86,50.52,51.52,22841839.0,51.52,51.52,1
4,2022-10-21,50.00,50.75,49.55,49.89,51155188.0,49.89,49.89,1

In [23]:
#cleaning so can be imported to db
df3 = pd.merge(full_ticker_df, df2, left_on='date', right_on='tweet_date')
df3.drop(['tweet_date', 'twitter_mention', 'tesla_mention'], axis=1, inplace=True)
df3.head()

,date,open,high,low,close,volume,closeadj,closeunadj,ticker_id
0,2022-10-27,53.91,54.00,53.70,53.70,140412534.0,53.70,53.70,1
1,2022-10-27,229.77,233.81,222.85,225.09,61403861.0,225.09,225.09,2
2,2022-10-26,52.95,53.50,52.77,53.35,27431218.0,53.35,53.35,1
3,2022-10-26,219.40,230.60,218.20,224.64,84810132.0,224.64,224.64,2
4,2022-10-25,52.40,53.18,52.20,52.78,34979396.0,52.78,52.78,1

In [24]:
#import into db
df3.to_sql('ticker_data', engine, index=False, if_exists='append', method='multi')