In [1]:
#Dependencies 

import os
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import nasdaqdatalink
# from os import path
from Jacks_config import api_key

In [2]:
mydata = nasdaqdatalink.get("EIA/PET_RWTC_D")
mydata.head()

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

In [ ]:
mydata = nasdaqdatalink.get_table('SHARADAR/SEP', ticker='AAPL')
mydata.head()