In [3]:
#Dependencies 

import os
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import nasdaqdatalink
# from os import path
from Jacks_config import api_key
from Jacks_config import nasdaq_key
# config_file -

In [ ]:
mydata = nasdaqdatalink.get("EIA/PET_RWTC_D")
mydata.head()

In [ ]:
target_ticker = "TSLA"
# headers = ["ticker", "date","open","high","low","close","volume","closeadj","closeunadj","lastupdated"]
params = {"ticker": target_ticker, "api_key":api_key}
base_url = "https://data.nasdaq.com/api/v3/datatables/SHARADAR/SEP.json"
r = requests.get(base_url, params=params)

# ticker = []
# date = []
# open = []
# high = []
# low = []
# close = []
# volume = []
# closeadj = []
# closeunadj = []
# lastupdated = []

# for tickers in target_ticker:
#     base_url = "https://data.nasdaq.com/api/v3/datatables/SHARADAR/SEP.json"
#     r = requests.get(base_url, params=params)
#     ticker.append(r['datatable']['data'][0][0])
    

mydata = r.json()

mydata

In [ ]:
params = {"ticker": target_ticker, "api_key":api_key}
base_url = "https://data.nasdaq.com/api/v3/datatables/SHARADAR/SEP.json"
r = requests.get(base_url, params=params)
mydata = r.json()

mydata

In [ ]:
ticker = []
for tickers in mydata:
    print(mydata['datatable']['data'][0])

ticker
data = pd.DataFrame(ticker)    
data

In [5]:
#get Tesla financial data
nasdaqdatalink.ApiConfig.api_key= nasdaq_key
tesla_data = nasdaqdatalink.get_table('SHARADAR/SEP', ticker='TSLA')
tesla_data

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,TSLA,2022-12-20,146.050,148.470,137.660,137.800,156301399.0,137.800,137.80,2022-12-21
1,TSLA,2022-12-19,154.000,155.250,145.820,149.870,139012446.0,149.870,149.87,2022-12-20
2,TSLA,2022-12-16,159.635,160.990,150.040,150.230,138838601.0,150.230,150.23,2022-12-19
3,TSLA,2022-12-15,153.440,160.930,153.280,157.670,121525813.0,157.670,157.67,2022-12-15
4,TSLA,2022-12-14,159.250,161.620,155.310,156.800,139850919.0,156.800,156.80,2022-12-14
...,...,...,...,...,...,...,...,...,...,...
2756,TSLA,2012-01-09,1.800,1.833,1.741,1.817,13455000.0,1.817,27.25,2022-08-25
2757,TSLA,2012-01-06,1.813,1.853,1.761,1.794,14794500.0,1.794,26.91,2022-08-25
2758,TSLA,2012-01-05,1.851,1.862,1.790,1.808,15082500.0,1.808,27.12,2022-08-25
2759,TSLA,2012-01-04,1.881,1.911,1.833,1.847,9451500.0,1.847,27.71,2022-08-25
2760,TSLA,2012-01-03,1.929,1.967,1.843,1.872,13921500.0,1.872,28.08,2022-08-25

In [6]:
#send Tesla data to CSV
tesla_data.to_csv("tesla_ticker.csv")

In [7]:
#get twitter info
twitter_data = nasdaqdatalink.get_table('SHARADAR/SEP', ticker='TWTR')
twitter_data

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,TWTR,2022-10-27,53.91,54.00,53.70,53.70,140412534.0,53.70,53.70,2022-10-27
1,TWTR,2022-10-26,52.95,53.50,52.77,53.35,27431218.0,53.35,53.35,2022-10-26
2,TWTR,2022-10-25,52.40,53.18,52.20,52.78,34979396.0,52.78,52.78,2022-10-25
3,TWTR,2022-10-24,50.71,51.86,50.52,51.52,22841839.0,51.52,51.52,2022-10-24
4,TWTR,2022-10-21,50.00,50.75,49.55,49.89,51155188.0,49.89,49.89,2022-10-21
...,...,...,...,...,...,...,...,...,...,...
2254,TWTR,2013-11-13,41.03,42.87,40.76,42.60,8688300.0,42.60,42.60,2018-06-13
2255,TWTR,2013-11-12,43.66,43.78,41.83,41.90,6316700.0,41.90,41.90,2018-06-13
2256,TWTR,2013-11-11,40.50,43.00,39.40,42.90,16113900.0,42.90,42.90,2018-06-13
2257,TWTR,2013-11-08,45.93,46.94,40.69,41.65,27925300.0,41.65,41.65,2018-06-13
2258,TWTR,2013-11-07,45.10,50.09,44.00,44.90,117701600.0,44.90,44.90,2018-06-13

In [8]:
#send Twitter data to CSV
twitter_data.to_csv("twitter_ticker.csv")